@import url("https://fonts.googleapis.com/css2?family=Cormorant&family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif; }

html {
  font-size: 62.5%; }
  @media (min-width: 768px) {
    html {
      font-size: 56.25%; } }
  @media (min-width: 576px) {
    html {
      font-size: 50%; } }

.container {
  display: grid;
  grid-template-columns: minmax(6rem, 1fr) repeat(8, minmax(min-content, 16rem)) minmax(6rem, 1fr);
  grid-template-rows: repeat(3, min-content);
  background-color: #122620; }

.header {
  grid-column: 1 / -1;
  grid-row: 1;
  display: grid;
  grid-template-columns: minmax(10rem, 1fr) repeat(7, minmax(min-content, 16rem)) minmax(10rem, 1fr);
  grid-template-rows: min-content;
  grid-gap: 2rem; }

.header-nav {
  grid-column: 6/10;
  grid-row: 1/2; }
  .header-nav-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    gap: 0;
    align-items: center;
    height: 100%; }
  .header-nav-item {
    list-style: none; }
  .header-nav-link {
    color: #B68D40;
    font-size: 2rem;
    text-decoration: none;
    transition: 0.2s;
    padding: 1rem 3rem 1rem 3rem;
    font-weight: 600;
    background-color: #122620; }
    .header-nav-link:hover {
      color: #122620;
      transition: 0.2s;
      background-color: #D6AD60; }
  .header-nav-button {
    color: #FFFFFF;
    background-color: #B68D40;
    font-size: 2rem;
    transition: 0.2s;
    border: none;
    padding: 1rem 3rem 1rem 3rem; }
    .header-nav-button:hover {
      cursor: pointer;
      background-color: #a57b2b;
      transition: 0.2s; }
  @media (min-width: 1200px) {
    .header-nav {
      grid-column: 6/10; } }
  @media (min-width: 992px) {
    .header-nav {
      grid-column: 5/10; } }
  @media (min-width: 768px) {
    .header-nav {
      grid-column: 4/10; } }

.content {
  grid-row: 2;
  grid-column: 1 / -1; }

.footer {
  grid-column: 1 / -1;
  grid-row: 3;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-bottom: 2rem; }
  .footer-title {
    font-size: 3rem;
    font-weight: 700;
    color: #B68D40;
    padding-bottom: 2rem;
    padding-top: 2rem; }
  .footer-link {
    font-size: 2rem;
    font-weight: 400;
    color: #FFFFFF;
    padding-bottom: 2rem;
    text-align: center;
    text-decoration: none;
    transition: 0.2s; }
    .footer-link:hover {
      cursor: pointer;
      color: #B68D40;
      transition: 0.2s; }
  .footer-icon {
    font-size: 3rem;
    color: #FFFFFF;
    padding: 0 1rem;
    transition: 0.2s; }
    .footer-icon:hover {
      cursor: pointer;
      color: #B68D40;
      transition: 0.2s; }
  .footer-list {
    list-style: none; }
  @media (min-width: 1200px) {
    .footer {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: 1fr; } }

.logo {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 5rem; }
  .logo-img {
    width: 10rem; }
  .logo-text {
    font-size: 4rem;
    font-family: "Cormorant", serif;
    text-transform: uppercase;
    color: #B68D40;
    font-weight: 700; }

.banner-text {
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #122620;
  z-index: 50;
  text-transform: uppercase;
  top: 32%;
  left: 72%;
  font-size: 2rem;
  font-family: "Cormorant", serif; }
  @media (min-width: 768px) {
    .banner-text {
      font-size: 6rem;
      top: 37%;
      left: 72%; } }

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 10; }

.publicity {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding-top: 10rem;
  padding-bottom: 10rem; }
  .publicity-header {
    font-family: "Cormorant", serif;
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #B68D40;
    padding-bottom: 7rem;
    grid-area: 1 / 1 / 2 / 3; }
    @media (min-width: 992px) {
      .publicity-header {
        font-size: 6rem; } }
  .publicity-column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    place-items: center; }
    .publicity-column-icon {
      grid-area: 1 / 1 / 2 / 2;
      color: #B68D40;
      font-size: 10rem; }
    .publicity-column-content {
      grid-area: 1 / 2 / 2 / 3;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      padding-right: 5rem; }
    .publicity-column-title {
      color: #B68D40;
      font-size: 3rem;
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      text-align: center; }
    .publicity-column-text {
      color: #FFFFFF;
      font-size: 2rem;
      font-weight: 400;
      text-align: center; }
  @media (min-width: 1200px) {
    .publicity {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 5rem; } }

.footer-column {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0; }

.footer-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 0;
  padding-left: 0; }

.carousel {
  position: relative; }

.carousel.pointer-event {
  touch-action: pan-y; }

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden; }
  .carousel-inner::after {
    display: block;
    clear: both;
    content: ""; }

.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  backface-visibility: hidden;
  transition: transform 0.8s ease-in-out; }
  @media (prefers-reduced-motion: reduce) {
    .carousel-item {
      transition: none; } }

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block; }

.carousel-item-next:not(.carousel-item-start),
.active.carousel-item-end {
  transform: translateX(100%); }

.carousel-item-prev:not(.carousel-item-end),
.active.carousel-item-start {
  transform: translateX(-100%); }

.carousel-fade .carousel-item {
  opacity: 0;
  transition-property: opacity;
  transform: none; }

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-start,
.carousel-fade .carousel-item-prev.carousel-item-end {
  z-index: 1;
  opacity: 1; }

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  z-index: 0;
  opacity: 0;
  transition: opacity 0s 0.8s; }
  @media (prefers-reduced-motion: reduce) {
    .carousel-fade .active.carousel-item-start,
    .carousel-fade .active.carousel-item-end {
      transition: none; } }

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: #B68D40;
  text-align: center;
  background: none;
  border: 0;
  opacity: 0.5;
  transition: opacity 0.15s ease; }
  @media (prefers-reduced-motion: reduce) {
    .carousel-control-prev,
    .carousel-control-next {
      transition: none; } }
  .carousel-control-prev:hover, .carousel-control-prev:focus,
  .carousel-control-next:hover,
  .carousel-control-next:focus {
    color: #B68D40;
    text-decoration: none;
    outline: 0;
    opacity: 1; }

.carousel-control-prev {
  left: 0; }

.carousel-control-next {
  right: 0; }

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%; }

/* rtl:options: {
  "autoRename": true,
  "stringMap":[ {
    "name"    : "prev-next",
    "search"  : "prev",
    "replace" : "next"
  } ]
} */
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23B68D40'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e"); }

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23B68D40'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e"); }

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
  list-style: none; }
  .carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 3rem;
    height: 1rem;
    padding: 0;
    margin-right: 2rem;
    margin-left: 2rem;
    text-indent: -999px;
    cursor: pointer;
    background-color: #B68D40;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: 0.5;
    transition: opacity 0.6s ease; }
    @media (prefers-reduced-motion: reduce) {
      .carousel-indicators [data-bs-target] {
        transition: none; } }
  .carousel-indicators .active {
    opacity: 1; }

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 1.25rem;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center; }

.carousel-dark .carousel-control-prev-icon,
.carousel-dark .carousel-control-next-icon {
  filter: invert(1) grayscale(100); }

.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: #000; }

.carousel-dark .carousel-caption {
  color: #000; }

.gallery {
  padding-top: 10rem;
  padding-bottom: 10rem; }
  .gallery-header {
    font-family: "Cormorant", serif;
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #B68D40;
    padding-bottom: 7rem; }
    @media (min-width: 992px) {
      .gallery-header {
        font-size: 6rem; } }
  .gallery-image-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 0; }
  .gallery-img {
    width: 75%; }

.card {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  border-radius: 0.25rem; }
  .card-text {
    text-align: center; }
    .card-text-title {
      font-size: 4rem;
      color: #B68D40;
      font-weight: 700;
      padding-bottom: 1rem; }
    .card-text-description {
      font-size: 2rem;
      color: #FFFFFF;
      font-weight: 400; }
  .card-img {
    width: 50%;
    object-fit: cover;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem; }
  @media (min-width: 1200px) {
    .card-img {
      width: 100%;
      object-fit: cover;
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem; } }
  .card-button {
    color: #FFFFFF;
    background-color: #B68D40;
    font-size: 2rem;
    transition: 0.2s;
    border: none;
    padding: 1rem 3rem 1rem 3rem; }
    .card-button:hover {
      cursor: pointer;
      background-color: #a57b2b;
      transition: 0.2s; }

.news {
  padding-top: 10rem;
  padding-bottom: 10rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 5rem; }
  .news-header {
    font-family: "Cormorant", serif;
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #B68D40;
    padding-bottom: 7rem; }
    @media (min-width: 992px) {
      .news-header {
        font-size: 6rem; } }
  @media (min-width: 1200px) {
    .news {
      display: grid;
      grid-template-columns: 0.2fr 1fr 0.2fr 1fr 0.2fr 1fr 0.2fr;
      grid-template-rows: 1fr; }
      .news-header {
        grid-area: 1 / 1 / 2 / 8;
        font-family: "Cormorant", serif;
        font-size: 4rem;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        color: #B68D40;
        padding-bottom: 7rem; } }
    @media (min-width: 1200px) and (min-width: 992px) {
      .news-header {
        font-size: 6rem; } }
  @media (min-width: 1200px) {
      .news-first {
        grid-area: 2 / 2 / 3 / 3; }
      .news-second {
        grid-area: 2 / 4 / 3 / 5; }
      .news-third {
        grid-area: 2 / 6 / 3 / 7; } }
