.header-nav{
    grid-column: 6/10;
    grid-row: 1/2;
    @include navigation();

    @include response(xl){
        grid-column: 6/10;
    }

    @include response(lg){
        grid-column: 5/10;
    }

    @include response(md){
        grid-column: 4/10;
    }
}

.search-nav{
    grid-column: 1/-1;
    grid-row: 2/2;

    @include flex($justify: space-evenly);

    &-weather{
        @include flex($gap: 1rem);

        &-icon{
            font-size: getFontSize(xxl);
            color: getColor(primary);
        }

        &-text{
            color: getColor(white-text);
            font-size: getFontSize(xl);
        }
    }

    &-arrival{
        @include flex($direction: column, $align: flex-start, $gap: 1rem);

        &-text{
            color: getColor(white-text);
            font-size: getFontSize(xl);
        }

        &-input{
            @include input();
        }

        &-input-group{
            @include flex($gap: 2rem);

            &-icon{
                font-size: getFontSize(xxl);
                color: getColor(primary);
            }
        }
    }

    &-rooms{
        @include flex($direction: column, $align: flex-start, $gap: 1rem);

        &-text{
            color: getColor(white-text);
            font-size: getFontSize(xl);
        }

        &-input{
            @include input();
        }
    }

    &-search-button{
        @include button();
    }
}