.fixed-position{
    overflow: hidden;
}

.hamburger{
    cursor: pointer;
    font-size: getFontSize(md);
    line-height: 3.8em;
    display: none;

    @include response(lg){
        display: block;
    }

    &-lines{
        &-line{
            height: 0.2em;
            width: 100%;
            border-radius: 10px;
            background-color: getColor(primary);

            &-1{
                transform-origin: 0% 0%;
                transition: transform 0.4s ease-in-out;
            }

            &-2{
                transition: transform 0.2s ease-in-out;
            }

            &-3{
                transform-origin: 0% 100%;
                transition: transform 0.4s ease-in-out;
            }
        }
    }
}