.information{
    @include sectionPaddings();

    &-title{
        @include section_header();
    }

    &-container{
        @include flex(column, center, center, 6rem);

        &-subtitle{
            color: getColor(primary);
            @include response(xl){
                font-size: getFontSize(xl);
            }
            font-size: getFontSize(lg);
        }

        &-text{
            color: getColor(white-text);
            @include response(xl){
                font-size: getFontSize(lg);
            }
            font-size: getFontSize(md);
            text-align: justify;
            padding-left: 5rem;
            padding-right: 5rem;
        }

        &-img{
            width: 10%;
            height: 100%;
            object-fit: cover;
        }

        &-label{
            color: getColor(white-text);
            @include response(xl){
                font-size: getFontSize(lg);
            }
            font-size: getFontSize(md);
            padding-bottom: 1rem;
        }

        &-input{
            @include contactInput();
        }

        &-button{
            @include button();
        }
    }
}
