.opinions {
  padding-top: 10rem;
  padding-bottom: 10rem;

  &-header {
    @include section_header();
  }

  &-text {
    @include flex(column, center, center, 3rem);

    &-title {
      font-size: getFontSize(xxxl);
      font-weight: getFontWeight(bold);
      text-transform: uppercase;
      color: getColor(primary);
    }

    &-description {
      font-size: getFontSize(xl);
      font-weight: getFontWeight(normal);
      text-transform: none;
      color: getColor(tertiary);
      text-align: justify;
    }
  }
}

#opinionsCarousel {
  background-color: getColor(secondary);
  width: 90%;
  margin: 0 auto;
  padding: 10rem;
}

@include stars();